sudo: required
services: docker
language: minimal

env:
  - TEST_CASE=1.6
  # XXX: find out what's wrong with 1.6 + flannel
  # - TEST_CASE=1.6-flannel
  - TEST_CASE=1.6-calico
  - TEST_CASE=1.6-calico-kdd
  - TEST_CASE=1.6-weave
  - TEST_CASE=1.7
  - TEST_CASE=1.7-flannel
  - TEST_CASE=1.7-calico
  - TEST_CASE=1.7-calico-kdd
  - TEST_CASE=1.7-weave
  - TEST_CASE=1.8
  - TEST_CASE=1.8-flannel
  - TEST_CASE=1.8-calico
  - TEST_CASE=1.8-calico-kdd
  - TEST_CASE=1.8-weave
  - TEST_CASE=src-1.8
  - TEST_CASE=src-master
  # The following tests often don't pass because CNI
  # implementations often aren't up-to-date for k8s master
  # - TEST_CASE=src-master-flannel
  # - TEST_CASE=src-master-calico
  # - TEST_CASE=src-master-calico-kdd
  # - TEST_CASE=src-master-weave

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y liblz4-tool

script:
  - travis_wait 35 ./test.sh
