[Unit]
Description=DIND network setup

[Service]
Type=oneshot
ExecStart=/usr/local/bin/dindnet
Restart=no
RemainAfterExit=true

[Install]
WantedBy=docker.service
