# Customize this, as needed, for your situation, but keep
# the variables defined herein:
#   ADV_ADDR, POD_SUBNET_DISABLE, POD_NETWORK_CIDR,
#   SVC_SUBNET, BIND_ADDR
apiVersion: {{API_VERSION}}
unifiedControlPlaneImage: mirantis/hypokube:final
kind: MasterConfiguration
kubernetesVersion: "{{KUBEADM_VERSION}}"
api:
  advertiseAddress: "{{ADV_ADDR}}"
networking:
  {{POD_SUBNET_DISABLE}}podSubnet: "{{POD_NETWORK_CIDR}}"
  serviceSubnet: "{{SVC_SUBNET}}"
tokenTTL: 0s
nodeName: {{KUBE_MASTER_NAME}}
apiServerExtraArgs:
  insecure-bind-address: "{{BIND_ADDR}}"
  insecure-port: "{{BIND_PORT}}"
  {{COMPONENT_FEATURE_GATES}}
{{APISERVER_EXTRA_ARGS}}
controllerManagerExtraArgs:
  {{COMPONENT_FEATURE_GATES}}
{{CONTROLLER_MANAGER_EXTRA_ARGS}}
schedulerExtraArgs:
  {{COMPONENT_FEATURE_GATES}}
{{SCHEDULER_EXTRA_ARGS}}
featureGates: {{FEATURE_GATES}}
